[run]
branch = True
source =
    addon
omit =
    addon/__init__.py
    addon/operators.py
    addon/panels.py
    addon/preferences.py
    addon/shaders_builtin.py
    addon/shader_registry.py

[report]
show_missing = True
skip_empty = True
fail_under = 90
